---
import { Image } from "astro:assets";
const { name, summary, ref, img } = Astro.props;
---

<div
  class="rounded-lg bg-base-200 hover:shadow-xl transition ease-in-out hover:scale-[102%]"
>
  <a href={ref} target="_blank" aria-label={name}>
    <div class="hero-content flex-col md:flex-row">
      <Image
        width={750}
        height={422}
        alt={name}
        src={img}
        class="min-w-full md:max-w-[13rem] rounded-lg shadow-2xl"
        decoding="async"
        title={name}
        loading="lazy"
      />
      <div>
        <h1 class="text-3xl font-bold">{name}</h1>
        <p class="py-4">{summary}</p>
        <a target="_blank" href={ref} class="btn btn-primary">See now</a>
      </div>
    </div>
  </a>
</div>
<div class="divider"></div>
